body,
html {
  margin: 0;
  padding: 0;
}

div {
  font-family: "Poppins", sans-serif;
}

.home-header {
  padding: 0 100px 0 100px;
  background: #121212;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
}

.logo {
  cursor: pointer;
}

.logo-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #47d95d;
  font-size: 22px;
  text-decoration: none;
}

.logo-text:hover {
  color: white;
}

.login {
  color: white;
  border-radius: 20px;
  padding: 4px 14px 4px 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
}

.login:hover {
  color: #47d95d;
}

.signup {
  color: #168627;
  background: white;
  border-radius: 20px;
  padding: 4px 17px 4px 17px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}
.logout {
  color: #168627;
  background: white;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  width: 90px;
  height: 33px;
  text-align: center;
  border: 2px solid white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

.signup:hover {
  color: black;
  background: #47d95d;
}

.hero {
  background-image: url("https://res.cloudinary.com/dynmdbdfu/image/upload/v1715451337/li-an-lim-ycW4YxhrWHM-unsplash_d8zzuc.jpg");
  background-size: cover;
  color: white;
  height: 495px;
}

.hero-content {
  height: 100%;
  padding: 0 100px 0 100px;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
}

.upper-hero {
  padding-top: 140px;
}

.upper-hero-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #47d95d;
  font-size: 65px;
  font-style: italic;
}

.upper-hero-text2 {
  margin-top: -15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #47d95d;
  font-size: 85px;
  font-style: italic;
}

.motto {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 18px;
}

.greener {
  color: #47d95d;
}

.signup-area {
  display: flex;
  padding: 30px 100px 30px 100px;
  justify-content: space-between;
  background: #168627;
}

.middle-bar {
  background: white;
  width: 2px;
  border-radius: 10px;
}

.enterprise-signup {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1.5px solid #168627;
  background: #121212;
  color: white;
  cursor: pointer;
  width: 40%;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.enterprise-signup:hover {
  background: black;
  color: #47d95d;
}

.footer {
  background: #121212;
  height: 30px;
}

.ent-back {
  background-image: url("https://images.unsplash.com/photo-1590315384483-1b220bc6625f?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  color: white;
  height: 100%;
}

.ent-signup-content {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.ent-dash-content {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.ent-signup-back {
  margin-top: 74px;
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background: white;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ent-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.ent-form {
  width: 86%;
  margin-top: 20px;
}

.ent-form-div {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 15px;
  margin-bottom: 5px;
}

.ent-form-input {
  background-color: #f5f6f7;
  width: 90%;
  border: 1px solid #f5f6f7;
  padding: 14px;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 14px;
  margin-bottom: 17px;
}

.ent-signup-btn {
  border-radius: 12px;
  padding: 12px 18px 12px 18px;
  border: 1px solid #168627;
  background: #168627;
  color: white;
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.ent-dashboard-head {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #47d95d;
  font-size: 23px;
}

.enterprise-header {
  text-decoration: none;
  width: auto;
  padding-left: 100px;
  padding-right: 100px;
  height: 100px;
  background: #121212;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-style: normal;
  font-size: 26px;
}

.ent-dashboard-content {
  width: auto;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.dash-border {
  width: 23%;
  height: 145px;
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  text-align: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid white;
}

.dash-border:hover {
  background: #168627;
  border: 2px solid #121212;
}

.popup {
  display: none;
  position: fixed;
  top: 60px;
  right: 100px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
  width: 17%;
  padding: 20px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background: #121212;
  color: white;
  border-radius: 50%;
}

.mult-sign {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #121212;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 16px;
}

.preview-image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.add-product-body {
  width: auto;
  height: auto;
  background-color: #168627;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-product-content {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 40%;
  background: white;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#ent-add-product-head {
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 24px;
}

.prod-img {
  height: 200px;
  width: 200px;
  border-radius: 16px;
}

.prod-name {
  margin-top: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 200px;
}

.prod-content {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 200px;
  height: auto;
  padding: 10px;
  background: white;
  border-radius: 20px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(197, 195, 195);
}
.prod-content:hover {
  border: 1px solid grey;
}

.prod-description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 14px;
  width: 200px;
}
.prod-comp-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: left;
  width: 200px;
}

.prod-size {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 14px;
  width: 200px;
}

.prod-pricing {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 14px;
  width: 200px;
}

.vote {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 17px;
  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.yes-but {
  width: 43%;
  height: 33px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 7px;
}

.vote-logic {
  width: 200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  display: flex;
  align-self: center;
  height: 33px;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
  color: #f5f6f7;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: rgb(100, 100, 100);
  width: 57%;
  text-align: center;
  margin-bottom: 10px;
}

.products {
  display: flex;
  flex-direction: row;
  width: auto;
  flex-wrap: wrap;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.product-input-search {
  width: 180px;
  height: 30px;
  border: 1px solid #168627;
  border-radius: 8px;
  text-align: center;
  margin-left: 30px;
}

.error-message {
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bold;
}

.yes-button {
  background-color: green;
  color: white;
}

/* Red button styling */
.no-button {
  background-color: red;
  color: white;
}

/* Styling for voted buttons */
.voted {
  opacity: 0.5; /* Dim the voted buttons */
  cursor: not-allowed; /* Disable clicking on voted buttons */
}

@media (max-width: 600px) {
  .home-header {
    padding: 0 20px 0 20px;
    justify-content: none;
  }
  .logo-text {
    font-size: 18px;
  }
  .hero-content {
    padding: 0 20px 0 20px;
  }
  .upper-hero-text {
    margin-top: 30px;
    font-size: 28px;
  }
  .upper-hero-text2 {
    margin-top: 5px;
    font-size: 53px;
    line-height: 90%;
  }
  .motto {
    margin-top: 20px;
    font-size: 15px;
  }
  .hero {
    height: 470px;
  }
  .signup-area {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 10px 20px;
    justify-content: center;
    align-items: center;
    background: #246b2e;
  }
  .enterprise-signup {
    width: 70%;
    font-size: 16px;
    padding: 20px;
    margin-top: 10px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #74c07e;
  }
  .middle-bar {
    display: none;
  }
}
